@import '../../index.css';

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

label > span {
    color: red;
}

input, textarea {
    border-radius: 8px;
    width: 100%;
}

.reservations__about {
    background-color: var(--green);
}
.reservations__about > h1 {
    color: var(--yellow);
}
.reservations__about > img {
    width: 100%;
    height: 500px;
}

.reservations__contact {
    background-color: var(--green);
}


.reservations__confirmed > img {
    width: 100%;
    margin-top: 100px;
}