@import '../index.css';

main > section {
    padding: 40px 10%;
}

.main__about, .main__testimonials {
    background-color: var(--green);
}

.main__about > img {
    max-width: 50%;
    max-height: 300px;
    float: right;
}

.main__about > h1 {
    color: var(--yellow);
}
.main__about > h2 {
    color: var(--white);
}
.main__about > p {
    color: var(--white);
    margin-bottom: 40px;
}

.main__specials > button {
    float: right;
}

.main__specials > div {
    display: flex;
    flex-direction: row;
    margin: 0 -20px;
}

.main__testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main__testimonials > div {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.main__info {
    position: relative;
}

.main__info > img:first-of-type {
    position: absolute;
    height: 200px;
    right: 300px;
    top: 150px;
    z-index: 1;
    border-radius: 16px;
}


.main__info > img:last-of-type {
    position: absolute;
    height: 200px;
    right: 500px;
    top: 250px;
    border-radius: 16px;
}

button {
    background-color: var(--yellow);
    padding: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    color: var(--black);
}